@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .gc-table-row {
    @apply py-4 px-6 border-b;
  }

  .gc-table-header {
    @apply py-4 px-6 font-bold uppercase text-sm border-b;
  }
}
